@import url('base.css');

.scroll-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .scroll-wrapper {
    overflow: auto;
  }
}

.main-wrapper {
  display: flex;
  height: 100%;
  max-height: 35.25rem;
}

.section {
  flex-shrink: 0;
  font-size: 5em;
  text-align: center;
  background-color: #eee;
  border-right: 1px solid #ccc;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.switch-theme-wrapper {
  border-radius: 14px;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  gap: 0.5rem;
}
