@import url('base.css');

.scroll-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
  .scroll-wrapper {
    height: 100dvh;
  }
}

@media (max-width: 768px) {
  .scroll-wrapper {
    overflow: auto;
  }
}

.main-wrapper {
  display: flex;
  height: 100%;
  max-height: 35.25rem;
  padding: 0 80px;
  gap: 16px;
}

.section {
  background-color: var(--white);
  border-right: 1px solid #ccc;
  border-radius: 24px;
  box-shadow: var(--theme-shadow);
  flex-shrink: 0;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}
.switch-theme-wrapper {
  border-radius: 14px;
  display: flex;
  height: calc((100vh - 35.25rem) / 2);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.switch-btn {
  background-color: var(--bg-hover-secondary-hover);
  display: flex;
  gap: 8px;
  padding: 6px;
  border-radius: 14px;
}

.switch-btn a {
  width: 28px;
  height: 28px;
  padding: 4px;
}

.theme-active {
  background-color: var(--theme-btn-bg);
  border-radius: 8px;
  box-shadow: var(--theme-shadow);
}

.primary-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 24px;
  position: relative;
  width: 700px;
}

.secondary-section {
  padding: 16px;
}

/* MAIN SECTION */
.vawn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.vawn-info {
  display: flex;
  gap: 16px;
}

.vawn-img {
  border-radius: 50%;
  object-fit: cover;
  height: 2.5rem;
  width: 2.5rem;
}

.vawn-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vawn-name {
  font-size: 1rem;
  font-weight: var(--fw-600);
}

.vawn-status {
  display: flex;
  gap: 4px;
}

.vawn-mode {
  color: var(--info-text-color);
  font-size: 0.85rem;
  font-weight: var(--fw-500);
}

.green-light {
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: rgb(52 211 153);
  height: 8px;
  width: 8px;
  will-change: auto;
}

.intro-content-wrapper {
  width: 100%;
}

.intro-content {
  font-size: 1.75rem;
  letter-spacing: 1px;
  line-height: 35px;
}

.location {
  padding-bottom: 4px;
}

.sub-location {
  font-size: 0.5rem;
}

.time-zone {
  color: var(--info-text-color);
  margin-top: 4px;
}

/* GLOBAL SECTION */
.global-wrapper {
  position: absolute;
  z-index: 1;
  right: -150px;
  bottom: -150px;
}
